body {
  background-color:#000;
  color:#fff;
  width:100%;
}
/*Homepage styles*/

h1:hover {
  color:bisque;
}
a:visited {
  text-decoration: none;
  
}
header {
  width:80%;
  text-align:center;
  margin:auto;
  border:1px solid white;
}
article {
  width:60%;
  margin:auto;
  border:1px solid blue;
}
p::first-letter {
  font-size:1.2em;
}
footer {
  border:1px solid red;
  width:100%;
  
  
}